body {
	background-color: white;
}

#app {
    width: 75%;
    margin: 75px auto 0 auto;
    min-height: 200px;
}

.intro {
    text-align: center;
}

.player {
    width: 50%;
    min-height: 200px;
    float: left;
    text-align: center;
}

.result {
    text-align: center;
}

